.root {
     -fx-background-color: black;
     -fx-background-radius: 28;
}
.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #111127, #00d4ff);
    -fx-background-radius: 15 15 25 25;
}

.resultHight{
     -fx-background-color: #00000025;
     -fx-background-radius: 15;
}

.operations{
     -fx-background-color: black;
     -fx-background-radius: 15;
}
